.color-picker-container {
    position: relative;
  }
  .form-group {
    border-radius: 5px !important;
  }
  .input-group  {
    border-radius: 5px !important;

  }
  
  .color-picker-container input[type="color"] {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
  }
  
  .color-picker-container .form-control[type="color"] {
    width: 100%;
    height: 2rem;
    padding: 0;
    border: none;
    background: transparent;
  }
  
  input {
    border-radius: 5px !important;
    &:focus {
        outline: none;
        border-color: transparent;
        border-radius:5px !important;
        box-shadow: none;
    }
  }