:host {
    .container {
        .footer-card {
            width:50%;
            margin:0 auto;
            margin-top:30px;
            p{
                text-align: center;
                font-size:1.1rem;
                a{
                    color:#08c964;
                    text-decoration: none;
                }
            }
        }
        margin-top:40px;
        .title {
            margin-bottom:30px;
            & p:nth-child(1) {
            font-weight: 800;
            line-height: 2.5rem;
            font-size:2.5rem;
            text-align: center;
            }
            & p:nth-child(2) {
                margin-top:-10px;
                font-weight: 400;
                font-size:1rem;
                text-align: center;
                span {
                    color:#08c964;
                }
                }            
        }
        width:100%;
        .register-card {

            width:45%;
            background-color: #2a303c;
            margin: 0 auto;
            padding:30px;
            border-radius:10px;
            .label {
                display: flex;
                justify-content: space-between;
                font-size:0.9rem;
                a{
                    color:#a6adbb;
                    text-decoration: none;
                }
            }
            p {
                font-size:.87rem;
                margin-top:10px;
                text-align: center !important;
                a {
                    color:#a6adbb;
                }
            }
           form {
            .sign-up {
                margin-top:10px;
                width:100%;
                padding:10px;
                border-radius:7px;
                background-color: #08c964;
                color:white;
                font-size: 1rem;
                font-weight: 500;
                border:none;
                transition: .2s;
                margin-bottom:10px;
                &:hover {
                    background-color: #08c955;
                }
            }
            input {
                background-color: transparent;
                border-radius:7px;
                border:1px solid #3a3f4a;
                color:#a6adbb;
                padding:10px;
                &::placeholder{
                    color:#a6adbb;
                }
                &:focus{
                    -webkit-box-shadow: 0px 0px 1px 3px rgba(61,67,79,1);
                    -moz-box-shadow: 0px 0px 1px 3px rgba(61,67,79,1);
                    box-shadow: 0px 0px 1px 3px rgba(61,67,79,1);
                }
            }
           }
        }
    }
}