<div class="container">
    <div class="title">
        <p>Welcome Back 👋</p>

    </div>

    <div class="register-card">
        <form [formGroup]="loginForm" (submit)="signIn()">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input formControlName="email" class="form-control" id="exampleFormControlInput1"
                    placeholder="Love@gmail.com">
            </div>
            <div class="mb-3">
                <div class="label">
                    <label for="exampleFormControlInput1" class="form-label">Password</label>
                    <label for="exampleFormControlInput1" class="form-label"><a
                            [routerLink]="['/forgot-password']">Forgot Password?</a></label>
                </div>
                <input type="text" formControlName="password" class="form-control" id="exampleFormControlInput1"
                    placeholder="Love">
            </div>
            <button type="submit" [ngClass]="{'disabled':!loginForm.valid}" class="sign-up"
                [disabled]="!loginForm.valid">Sign
                In</button>
        </form>


    </div>
    <div class="footer-card">
        <p>Don't have an account yet? <a [routerLink]="['/sign-up']">Sign Up</a></p>
    </div>
</div>