:host {
    .hello {
        font-size:1.6rem;
        padding:10px;
        font-weight: 500;
        margin-top:40px;
    }
    .cards{
        display: flex;
        justify-content: space-evenly;
        margin-top:50px;
        flex-wrap: wrap;
        .integration-card {
            &:hover {
                cursor: pointer;
            }
            width:45%;
            margin-top:20px;
            border-radius:20px;
            &:nth-child(1) {
                background-color:  #f59e0b;
            }
            &:nth-child(2) {
                background-color:   #8b5cf6;
            }
            &:nth-child(3) {
                background-color:  #10b981;
            }
            &:nth-child(4) {
                background-color:  #111827;
            }
            padding:10px 40px 10px 20px;
            color:white;
        }
        .card {
            background-color: #222630;
            border-radius:40px;
            padding:5px 40px 5px 40px;
            color:rgb(255, 255, 255);
            p{
                &:nth-child(1) {
                    font-size: 2rem;
                }
                &:nth-child(2) {
                    font-size: 1.2rem;
                }
                text-align: center;
            }
        }
    }
}