<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="title">
                <p><span> <span class="background">Grow</span> <span>Grow</span></span> with Feedbacks</p>
                <p>Client Voices Elevating Your App</p>
            </div>
            <div class="description">
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        aria-hidden="true" class="apply">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                    Fully Customizable, create your own beautiful feedback form in just minutes.
                </p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        aria-hidden="true" class="apply">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                    Let AI help you decide what you should do next to enhance your platform.
                </p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        aria-hidden="true" class="apply">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                    Let AI Accurately Verify the Validity of the Feedback before sending !
                </p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        aria-hidden="true" class="apply">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                    Save time creating a poor feedback. Let us help you instead!
                </p>
            </div>
            <div class="buttons">
                <a [routerLink]="['/sign-up']">Create Account</a>
                <a [routerLink]="['/login']">I have an account</a>
            </div>
        </div>
        <div class="col-md-6">
            <app-webpage-simulator></app-webpage-simulator>

        </div>
    </div>
</div>

<div class="container">
    <div class="section">
        <p class="as-seen-on">Featured on
            <img class="gray brightness" src="../../../assets/hacker-news-logo.webp">
            <img class="gray brightness" src="../../../assets/instagram-logo.webp">
            <img class="gray brightness" src="../../../assets/product-hunt-logo.webp">
            <img class="gray brightness" src="../../../assets/tiktok-logo.webp">
            <img class="gray brightness" src="../../../assets/twitter-logo.webp">
        </p>

    </div>
</div>

<div class="container" style="margin-top:170px;">

    <div class="title" style="text-align: center;font-size:2.3rem">
        <p>Building an amazing feedback system is <span> <span class="background red">hard</span>
                <span>hard</span></span></p>
        <span style="font-size:1.2rem;font-weight: 400;">Many websites struggle to succeed without an effective feedback
            system.</span>
    </div>
    <div class="cards">
        <div class="card-red">
            <p class="title">You Without Feedbacks</p>
            <ul>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="red">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                    </svg>Manually create a feedback system. </li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="red">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                    </svg>Waste hours following tutorials. </li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="red">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                    </svg>System does not works.</li>
            </ul>
        </div>
        <div class="card-green">
            <p class="title">You + Feedbacks</p>
            <ul>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        aria-hidden="true" class="apply">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>Create powerful feedback system in minutes.
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        aria-hidden="true" class="apply">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>Focus entire in your project.
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        aria-hidden="true" class="apply">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>Grow your project with clients invoices.
                </li>
            </ul>
        </div>
    </div>






</div>

<div class="container">

    <div class="title-section">
        <code>Let growMyProject = Date.now();</code>
        <p>Feedbacks made fun, easy and automatic with 0 code!</p>
    </div>
</div>