:host {
  .save-changes {
    padding:10px;
    margin-top:15px;
    width:100%;
    border-radius:5px;
    outline: none;
    border-color:transparent;
    font-weight: 500;
    font-size:1.1rem;
    background-color: #0c8e63;
    color:white;
    &:hover {
      background-color: #0c7a55;
    }
  }
  .container {
    width:100%;
    .row {
      width:100%;
    }
  }
    .embed {
        margin-top:50px;
      width:100%;
        .preview {

            position: sticky;
            top: 30px;
            width:100%;
            padding:20px;
 
        }
        .controlls {
            background-color: #222630;
            width:60%;
            height:1000px;
            padding:10px 40px 10px 40px;
            border-radius:20px;
            margin-top:30px;
            p {
                &:nth-child(1) {
                    font-size:1.3rem;
                }
                &:nth-child(2) {
                    font-size:1.1rem;
                }
            }
        }
    }
    .links {
        display: flex;
        width:100%;
        justify-content: left;
        margin-top:40px;
        .link {
            &.selected {
                background-color:  #10b981;
                &:hover {
                    background-color:  #0c8e63;
                }
            }
            margin-right:20px;
            padding:5px 15px 5px 15px;
            background-color: #222630;
            color:white;
            &:hover {
                background-color: #1b1e25;
                cursor: pointer;
            }
            border-radius:30px;
        }
    }
    .instructions {
        width:70%;
        margin:0 auto;
        margin-top:230px !important;
        background-color: #222630;
        border-radius:30px;
        padding:40px 50px 20px 40px;
    }
    pre {
        background-color: #161c26;
        padding: 10px;
        border-radius: 5px;
        overflow: auto;
        width:100%;
        white-space: pre-wrap;
        position: relative;
      }
      
      code {
        font-family: 'Courier New', Courier, monospace;
        font-size: 1em;
        .token {
            .tag {
                color:#b32844 !important;
            }
        }
      }
      
      .copy-button {
        background: #f8f8f20c;
        border: none;
        color: #ffffff;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 0.8em;
      }
      
      .copy-button:hover {
        background: #e0e0e009;
      }
      
      
      

}