<app-header-info-bar></app-header-info-bar>

@if(show) {
<div class="container">
    <div class="links">
        <div class="link selected">Embed Form</div>
        <div class="link">Custom Form</div>
        <div class="link">Review Widget</div>
    </div>

    <div class="embed">
        <p><strong>Integrate with embed code</strong></p>
        <p>Integrating using embed is the easiet and quickest way to show the signup form on your website. Customize the
            widget and follow the below steps to integrate on your website.</p>
        <div class="row">
            <div class="col-md-7">
                <div class="controlls">
                    <p>Customize widget</p>
                    <section id="title">
                        <p>Title</p>

                    </section>
                </div>
            </div>
            <div class="col-md-5">
                <div class="preview">
                    <p>Preview</p>
                    <app-form-builder [form]="form"></app-form-builder>
                    <button (click)="saveChanges()" class="save-changes">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container mt-5 instructions">
    <p>Instructions</p>
    <p>1. Copy and paste the below code in the
        section < head>
    </p>
    <div class="code-container">
        <pre><code class="language-markup">{{ codeSnippet }}</code></pre>
        <button class="copy-button" (click)="copyCode()"><i class="fa-solid fa-copy"></i> Copy code</button>
    </div>
</div>
}